<h1>Listing posts</h1>

<ul>
  <% @posts.each do |post| %>
      <li>
        <%= prepend_http(post) %>
        <% if logged_in? %>
            <%= link_to post_votes_path(post, vote_indicator: "up"), :method => :post do %>
                <i class="icon-thumbs-up"></i>
            <% end %>
        <% else %>
            <i class="icon-thumbs-up"></i>
        <% end %>
        <span><%= post.vote_number %></span>
        <% if logged_in? %>
            <%= link_to post_votes_path(post, vote_indicator: "down"), :method => :post do %>
                <i class="icon-thumbs-down"></i>
            <% end %>
        <% else %>
            <i class="icon-thumbs-down"></i>
        <% end %>
        <br/>
        <%= link_to pluralize(post.comments.count, "comment"), post_path(post) %>
      </li>
  <% end %>
</ul>

<br/>
<% if logged_in? %>
    <%= link_to "Submit a new post", new_post_path %>
<% end %>




