<%= link_to "HOME", posts_path %>

<h3>New Post area</h3>
<%= form_for(@post) do |f| %>


    <%= render 'shared/error_messages', object: @post %>

    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>   <br/>

    <%= f.label :title %>
    <%= f.text_field :title %>     <br/>

    <%= f.submit 'Go!' %>

<% end %>

