<%= link_to "HOME", posts_path %>

<h3>New Post area</h3>
<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div class='alert alert-error'>
          <%= @post.errors.full_messages.join("<br/>").html_safe %>
        </div>
    <% end %>

    <div class='field'>
      <%= f.label :url, "URL" %>
      <%= f.text_field :url %>   <br/>
    </div>

    <div class='field'>
      <%= f.label :title %>
      <%= f.text_field :title %>     <br/>
    </div>

    <div class='actions'>
      <%= f.submit 'Go!' %>
    </div>

<% end %>

