<h3>This is the Show Comment Page</h3>

<p>
  <%= link_to @post.title, @post.url %>
  <%= "(#{pluralize(@post.comments.count, 'comment' )})"  %>
  </li>
</p>

<ul>
  <% @post.comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
  <% end %>
</ul>

<p>
 <h5>Create comments here</h5>
 <%= form_for [@post, @comment]  do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 5%>
    <br/>
    <%= f.submit "Go" %>
 <% end %>

</p>