<%= link_to "HOME", posts_path %>


<h3>Show Comment Page</h3>

<p>
  <%= prepend_http(@post) %>
  <%= "(#{pluralize(@post.comments.count, 'comment')})" %>
  </li>
</p>

<ul>
  <% @post.comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
  <% end %>
</ul>

<p>
  <%= form_for [@post, @comment] do |f| %>

      <%= render 'shared/error_messages', object: @comment %>

      <%= f.label :body %>
      <%= f.text_area :body, rows: 5 %>
      <br/>
      <%= f.submit "Go" %>
  <% end %>
</p>

