<h3>This is the Show Comment Page</h3>

<p>
  <%= link_to @post.title, @post.url %>
  <%= "(#{pluralize(@post.comments.count, 'comment')})" %>
  </li>
</p>

<ul>
  <% @post.comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
  <% end %>
</ul>

<p>
<h5>Create comments here using form_for</h5>
<%= form_for [@post, @comment] do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 5 %>
    <br/>
    <%= f.submit "Go" %>
<% end %>

yo

<h5>Create comments here using form_tag</h5>
<%= @post2 = Post.create(params[:post]) %>
<%= form_tag("/posts/1/comments") do %>
    <%= label_tag(:body, "Body:") %>
    <%= text_area_tag "comment[body]"  %>
    <br/>
    <%= submit_tag("Go") %>
<% end %>
</p>

