<%= render 'shared/error_messages', object: @comment %>

<h3>Show Comment Page</h3>

<p>
  <%= prepend_http(@post) %>
  <%= "(#{pluralize(@post.comments.count, 'comment')})" %>
  </li>
</p>

<ul>
  <% @post.comments.each do |comment| %>
      <li>
        <%= comment.body %>
        ( Comment by:
        <% commenters_name = User.find_by_id(comment.user_id).name.to_s.capitalize %>
        <% commenters_user_id = User.find_by_id(comment.user_id).id %>
        <%= link_to commenters_name, user_path(commenters_user_id) %>
        )

      </li>
  <% end %>
</ul>

<% if logged_in? %>
    <p>
      <%= form_for [@post, @comment] do |f| %>

          <%= f.label :body %>
          <%= f.text_area :body, rows: 5 %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <br/>
          <%= f.submit "Go" %>
      <% end %>
    </p>
<% end %>

<% if !logged_in? %>
    <p>
      User needs to
      <%= link_to "Register", register_path %>
      and/or
      <%= link_to "Login", login_path %>
      to be able to comment
    </p>
<% end %>